name: Renovate Bot

on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.1.0
        with:
          configurationFile: .github/renovate.json
          docker-user: root
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: 'debug'
